header {
  background-color: white;
  padding: 0;
  border-bottom: 1px solid #aa0000;
}

a {
  color: #af1313;

  &:hover {
    background-color: #e72929;
    color: white;
  }

  &.logo {
    font-weight: bold;
    padding: 1em;
  }

  &.item {
    font-weight: bold;
    padding: 1em;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
    margin: 0;
    display: flex;
    & li a{
        padding: 1em;
        display: flex;
    }
}